opencv-python
tensorflow
numpy
matplotlib
openai
requests
python-dotenv
langchain
langchain-openai
groq
fastapi[all]
sqlalchemy
pydantic
PyJWT
aiomysql
bcrypt
transformers @ git+https://github.com/huggingface/transformers@dd16acb8a3e93b643aa374c9fb80749f5235c1a6
qwen-vl-utils[decord]==0.0.8
accelerate
boto3
sentence_transformers
sys